<h4>Available Explorers for your Rover</h4>
<form class="form-search">
  <div class="input-prepend">
    <button type="submit" class="btn">Search</button>
    <input type="text" class="span6 search-query">
  </div>
</form>

<table class="table table-hover">
  <% @descriptions.each do |descr| %>
  <tr>
    <td><%= descr.name %> (<%= descr.version%>)<br><small><%= descr.description %></small></td>
    <td><%= link_to("Add to Mission", new_explorer_path(mission_id: @mission.id, explorer_description_id: descr.id), :class => "btn btn-info")%></td>
  </tr>
  <% end %>
</table>