<%= simple_form_for(@explorer) do |f| %>
  <% @explorer.editable_attributes.each do |attrib| %>
    <%= field_for_attribute(attrib, @explorer.class, f) %>
  <% end %>
  <%= f.hidden_field(:mission_id) %>
  <%= f.hidden_field(:explorer_description_id) %>
  <br />
  <%= f.submit("Save", :class => "btn btn-success")%>
  <%= link_to("Back", mission_path(@explorer.mission), :class => "btn btn-danger")%>
<% end %>