<%= link_to(explorer.identifying_name, edit_explorer_path(explorer), :class => "btn") %>
<%= link_to("Explore!", explorer_run_now_path(explorer), :class => "btn btn-primary") %>
<%= link_to("Mappings", explorer.mapping, :class => "btn btn-success") %>
<%= link_to("Log", explorer_events_path(explorer), :class => "btn btn-warning") %>
<%= link_to("Remove", explorer_path(explorer), {:class => "btn btn-danger", :method => "delete", :confirm => "Really?"}) %>
<br />
<small>
  <%= attribute_list(explorer).html_safe %>
</small>
<br />