<table class="table">
<% @infos.each do |info| %>
  <tr>
    <td><%= image_for_event(info.event_type) %></td>
    <td><%= info.message %></td>
    <td><%= info.created_at.localtime.strftime("%d.%m.%Y %H:%M:%S") %></td>
  </tr>
<% end %>
</table>