<table class="table" style="table-layout:fixed; overflow:hidden; white-space: nowrap;">
<% @infos.each do |info| %>
  <tr>
    <td><%= image_for_event(info.event_type) %></td>
    <td style="overflow: scroll; width: 60%; white-space: nowrap;"><%= info.message %></td>
    <td style="overflow: scroll; width: 30%; white-space: nowrap;">
      <%= info.created_at.localtime.strftime("%d.%m.%Y") %><br/>
      <%= info.created_at.localtime.strftime("%H:%M:%S") %>
    </td>
  </tr>
<% end %>
</table>