<h1>Services</h1>

<% if @connected_services.empty? %>
  <p>
    You are currently not connected to any external services.
  </p>
<% else %>
  <p>
    You are connected to the following services:
  </p>
  <ul class="inline">
    <% @connected_services.each do |provider| %>
      <li>
        <%= link_to provider.to_s.humanize, "/auth/#{provider}", :class => "btn btn-success" %>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless @available_services.empty? %>
<h3>You can connect to the following services:</h3>
<ul class="inline">
  <% @available_services.each do |provider| %>
    <li>
      <%= link_to provider.to_s.humanize, "/auth/#{provider}", :class => "btn btn-danger" %>
    </li>
  <% end %>
</ul>
<% end %>
