<div class="mapping-key" data-full-key="<%= mk.key %>" id="mapping-entry-<%= mk.id %>">
  <div style="float: right; padding-right: 5px;">
    <%= button_tag(onclick: "highlight_both('#{mk.key}', #{mk.id})", class: "btn btn-mini") do %>
      <%= fa_icon("search")%>
    <% end %>
    <%= link_to(
      fa_icon("times-circle"),
      mapping_key_path(mk),
      method: :delete, remote: true,
      class: "closer btn btn-mini update-me",
      confirm: "Really delete mapping for '#{mk.key}'?"
    )%>
  </div>

  <%= form_for(mk, remote: true, html: {class: "no-space update-me edit_mapping_key"}) do |f|%>
  <div>
    <span style="font-style: italic;" onclick="display_key_edit($(this));"><%= mk.display_key %></span>
    <%= f.text_field(:key, {value: mk.display_key, class: "input-medium", style: "display: none", autocomplete: "off"}) %>
  </div>
  <div>
    <% mk.hash_style_mapping.each_pair do |attrib, val| %>
      <div class="input-prepend">
      <span class="add-on">
      <%= link_to(
            fa_icon("times-circle"),
            mapping_key_remove_field_path(mk, field: attrib),
            remote: true, method: :post, class: "closer update-me"
          )
      %>
      <%= attrib %>
      </span>
      <%= field_for_mapping_option(attrib, val, f, mk) %>
      </div>
    <% end %>
  <% end %>
  </div>

  <% unless mk.unset_attributes.empty? %>
    <hr style="margin-top: 0px; margin-bottom: 5px;" />
    <div>
      <%= form_tag(mapping_key_add_field_path(mk), remote: true, class: "no-space update-me") do %>
        <%= select_tag(:new_field, options_for_select(mk.unset_attributes), class: "input-medium") %>
        <%= button_tag(type: 'submit', class: "btn btn-mini") do %><%= fa_icon("plus-circle", class: "success") %><% end %>
      <% end %>
    </div>
  <% end %>
</div>