<div id="mapping-preview-<%= @mapping.id %>" class="modal hide preview_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <% if @mapping_error.nil? %>
        <%= image_tag(@mapping.preview_image_path)%>
      <% else %>
        <%= "Could not create preview: <strong>#{@mapping_error}</strong>".html_safe %>
      <% end %>
    </div>
  </div>
</div>