<h3>
  Mapping for
  <%= link_to(@explorer.identifying_name, @explorer) %>
  of Mission
  <%= link_to(@explorer.mission.name, @explorer.mission)%>
</h3>

<div class="span12" style="margin-left: 0px;">
  <div id="mapping-<%= @mapping.id %>">
  <%= form_for(@mapping, html: {class: "form-inline"}) do |f| %>

    <% unless @mapping.alternatives.empty? %>
    <div class="input-append">
      <%= select_tag(:replacement_mapping_id, options_from_collection_for_select(@mapping.alternatives, "id", "name")) %>
      <%= submit_tag("Load Template", class: "btn btn-danger", name: "load_template") %>
    </div>
    &nbsp;|&nbsp;
    <% end %>

    <div class="input-prepend">
      <span class="add-on"><%= f.label(:name)%></span>
      <%= f.text_field(:name, :placeholder => "Pick a speaking name", class: "input-medium")%>
    </div>
    <div class="input-prepend">
      <span class="add-on"><%= f.label(:default_key)%></span>
      <%= f.select(:default_key, options_for_select(@mapping.default_options, @mapping.default_key), {}, {class: "input-small"})%>
    </div>
    <%= f.label("Opt In?", :class => "checkbox inline") %>
    <%= f.check_box(:opt_in) %>

    <%= submit_tag("Save", class: "btn btn-success", style: "margin-left: 10px", name: "save") %>
    <%= link_to("Graph Preview", mapping_preview_path(@mapping), class: "btn btn-info show-preview-btn", remote: true)%>
  <% end %>
  </div>

  <div class="span7" style="margin-left: 10px; margin-top: 10px;">
  <pre class="json-view" data-update-url="<%= mapping_mk_path(@mapping) %>"><%= @mapping.sample_with_html.html_safe %></pre>
  </div>

  <div class="span5" id="mapping-list" style="margin-left: 10px;">
    <% @mapping.mapping_keys.sort_by{|a| a.key}.each do |mk| %>
      <%= render partial: "mappings/mapping_key", locals: {mk: mk}%>
    <% end %>
  </div>

  <div id="mapping-preview-<%= @mapping.id %>"></div>
</div>