// Place all the styles related to the mappings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

pre.json-view{
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  font-size: 10px;
  line-height: 13px;
}

div.mapping-key{
  width: 450px;
  border: 1px solid #c3c3c3;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.closer {
  color: #f77;
}

.no-space {
  margin: 0 0 0 0;
}

form.some-space {
  margin-top: 5px;
}

.success {
  color: #62c462;
}

input.mapping-checkbox{
  margin-left: 5px;
  margin-top: 10px;
}

.button{
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.key-field{
  outline-width: 0;
}

.preview_modal {
  width: 1300px;
  /* must be half of the width, minus scrollbar on the left (30px) */
  margin-left: -650px;
  position: absolute;
  padding: 10px;
}