<%= form_for(mission, :html => {:class => "form-horizontal"}) do |f| %>
<div class="control-group">
  <%= f.label :name, :class => "control-label" %>
  <div class="controls">
  <%= f.text_field :name %>
  </div>
</div>
<div class="control-group">
  <%= f.label :description, :class => "control-label" %>
  <div class="controls">
  <%= f.text_area :description, :rows => 5 %>
  </div>
</div>
<div class="control-group">
  <%= f.label :database_url, :class => "control-label" %>
  <div class="controls">
  <%= f.text_field :target_server %>
  </div>
</div>
<div class="control-group">
  <%= f.label :database_name, :class => "control-label" %>
  <div class="controls">
  <%= f.text_field :database_name %>
  </div>
  <%= f.label :database_username, :class => "control-label" %>
  <div class="controls">
  <%= f.text_field :username %>
  </div>
  <%= f.label :database_password, :class => "control-label" %>
  <div class="controls">
  <%= f.password_field :password %>
  </div>
</div>
<div class="control-group">
  <%= f.label :which_database?, :class => "control-label" %>
  <div class="controls">
    <%= f.select(:target_data_store, Mission.target_data_stores.keys) %>
  </div>
</div>
<div class="control-group">
  <%= f.label :run_when?, :class => "control-label" %>
  <div class="controls">
  <%= f.select(:interval, options_from_collection_for_select(interval_options(), "last", "first", mission.interval)) %>
  </div>
</div>

<%= f.submit("Save", :class => "btn btn-success") %>
<%= link_to("Cancel", missions_path, :class => "btn btn-danger") %>
<% end %>