<h4>Mission Status</h4>
<br />
<% @mission.explorers.order("created_at ASC").each do |explorer| %>
  <%= link_to(explorer.identifying_name, explorer_events_path(explorer)) %>
  <div class="explorer-info-div" data-callback-url="<%=explorer_last_events_path(explorer.id)%>"></div>
  <hr />
<% end %>
<%= link_to("Data Import", mission_data_import_events_path(@mission)) %>
<div class="explorer-info-div" data-callback-url="<%=mission_last_data_import_events_path(@mission.id)%>"></div>
<hr />
