<h3>Your Mission overview</h3>
<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Active?</th>
    <th>Actions</th>
  </tr>
  <% @missions.each do |mission| %>
  <tr>
    <td><%= mission.name %><br /><small><%= mission.description %></small></td>
    <td><%= image_tag(mission.active ? "icons/bullet_green.png" : "icons/bullet_red.png", :size => "25x25")%></td>
    <td>
      <%= link_to("Activate", mission_activate_path(mission), {:class => "btn btn-primary", :method => :post}) %>
      <%= link_to("Deactivate", mission_deactivate_path(mission), {:class => "btn btn-warning", :method => :post}) %>
      <%= link_to("Administrate", mission_path(mission), :class => "btn btn-info") %>
      <%= link_to("Delete", mission_path(mission), {:class => "btn btn-danger", :confirm => "Sure?", :method => :delete}) %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td colspan="3"><%= link_to("New Mission", new_mission_path() ,:class => "btn btn-success")%></td>
  </tr>
</table>