<div class="span8">
  <h4 class="text-info"><em><%= @mission.name %></em></h4>
  <small>Last run: <%= @mission.last_run.nil? ? "n/a" : @mission.last_run %></small>

  <div>
  <%= link_to("Edit Mission", edit_mission_path(@mission), :class => "btn")%>
  <%= link_to("Run all Explorers!", mission_run_now_path(@mission), :class => "btn btn-primary")%>
  <%= link_to("Initialize DB", mission_prepare_database_path(@mission), :class => "btn btn-success")%>
  <%= link_to("Cleanup DB", mission_cleanup_database_path(@mission), :class => "btn btn-success")%>
  <%= form_tag(mission_sidekiq_control_path(@mission), class: "some-space") do %>
    <%= select_tag(:sidekiqs, sidekiq_options, class: "no-space")%>
    <%= submit_tag("Start", class: "btn btn-success", :name => "start")%>
    <%= submit_tag("Stop", class: "btn btn-danger", :name => "stop")%>
  <% end %>

  </div>
  <hr />

  <% unless @mission.explorers.empty?%>
  <div id="explorer_list">
    <h5>Explorers</h5>
    <% @mission.explorers.order("created_at ASC").each do |explorer| %>
      <%= render :partial => "explorers/show", :locals => {:explorer => explorer} %>
      <br />
    <% end %>
  </div>
  <% end %>

  <hr />

  <div id="add-new-ts">
    <%= render :template => "explorer_descriptions/index" %>
  </div>
</div>

<div class="span4">
  <div class="well sidebar-nav">
    <%= render :partial => "mission_status" %>
  </div>
</div>